@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, aqua, dracula, forest, night;
}

@layer components {
  .icon {
    @apply size-4;
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply transition-colors duration-200;
  }

  .input:focus,
  .input:focus-within,
  .select:focus,
  .textarea:focus {
    outline: none !important;
    border-color: #3b82f6 !important;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3) !important;
  }
}
